.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color:red;
  font-style: italic;
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

label {
  font-family:bold;
  
  font-size: 15px;
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #2575fc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #1a5fd8;
}

